body {
    margin: 0;
    font-family: 'Iosevka', sans-serif;
    background-color: #090A13;
    color: #c0caf5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: #090A13;
    padding: 10px 0;
}

.tab {
    font-size: 18px;
    font-weight: bold;
    color: #c0caf5;
    cursor: default;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.tab:hover {
    background-color: #6791c9;
    border-radius: 5px;
}

.container {
    background-color: #020A13;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex: 1;
    padding-top: 20px;
}

.main-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.main-image:hover {
    transform: scale(1.05);
}

.typing-svg {
    filter: drop-shadow(0 0 5px #6791c9);
}

.about h1 {
    color: #6791c9;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #090A13;
    color: #c0caf5;
    width: 100%;
    position: absolute;
    bottom: 0;
}
